:root {
    ---background: bisque;
    ---questionContainer:  rgba(196, 233, 255, 0.737);

}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../assets/images/bees.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(---background);
}

.container {
    background-color: var(---questionContainer);
    border: 3px solid black;
    justify-content: center;
    align-items: center;  
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    width: 50%;
    max-height: 50%;
    text-align: center;
    border-radius: 35px;
}

.question-container{
    background-color: var(---questionContainer);
    margin:auto;
    padding: 20px;
    border: 5px solid red;
}

#greeting{ 
    background-color: var(---questionContainer);
}

h1 {
    background-color: var(---questionContainer);
}

#question-pocket1 {
    background-color: var(---questionContainer);
    border: 10px solid black;
}

#question-pocket2 {
    background-color: var(---questionContainer);
    border: 10px solid blue;
}
#question-pocket3 {
    background-color: var(---questionContainer);
    border: 10px solid green;
}

.button {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin: auto;
}

.scoreboard-link {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(---background);
    
}

.timer {
    position: absolute;
    text-align: right;
    top: 5px;
    right: 5px;

}

.hidden {
    display: none;
}

.scoreboard {
    background-color: var(---questionContainer);
    
}

#scoreboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}